body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Perfectly';
  src: url('assets/fonts/PerfectlyNineties-Regular.ttf');
}

@font-face {
  font-family: 'Perfectly-italic';
  src: url('assets/fonts/PerfectlyNineties-Italic.ttf');
}

@font-face {
  font-family: 'Interfaces';
  src: url('assets/fonts/TT\ Interfaces\ Regular.otf');
}